.how-it-works {
  padding: 90px 24px;
  background: #f7f7f7;
  text-align: center;
}

/* Title */
.section-title {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 60px;
  color: #1e2a2f;
}


.section-title span {
  color: #05a9df;
}

/* Cards */
.card-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.work-card {
  background: #ffffff;
  width: 306.3265380859375 px; 
  height: 120 px;
  border-radius: 26px;
  padding: 40px 26px;
  border: 3px solid #dfe3e6;
  transition: 0.3s ease;
}

.work-card:hover {
  border-color: #a3a3a3;
}

/* Icon */
.icon {
  font-size: 52px;
  color: #05a9df;
  margin-bottom: 22px;
}

/* Text */
.work-card h3 {
font-family: Inter;
font-weight: 900;
font-style: Black;
font-size: 38px;
line-height: 38px;
letter-spacing: -3%;
text-align: center;

}

/* Button */
.get-started-btn {
  margin-top: 60px;
  background: #1cc978;
  color: #ffffff;
  border: none;
  padding: 14px 34px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 992px) {
  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .work-card {
    width: 100%;
    max-width: 380px;
  }
}
